<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<div>
  <h2>Comments</h2>
  <div>
     
    <% article.comments.forEach(function(c) { %>
      <p><%= c.content %></p>
      <p>Name:<%= c.name %></p>
    <% }) %>
  </div>
</div>

<hr />
<div>
<form method="POST" action="/articles/comments">
  <div>
    <h5>Comment on this post</h5>
  <label for="comments">Name</label>
  <input type="text" name="name">
</div>
<div>
  <label for="content">Content</label>
  <input type="text" name="content">
</div>
<div>
  <!-- this is where we add the article id so we can ref it later -->
  <input type="hidden" name="articleId" value="<%= article.id %>">
</div>
<input type="submit" value="submit">
</form>
</div>

<a href="/">&larr; Back Home</a>
